* {
  font-family: 'Poppins', sans-serif;
}
.center-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-row-container {
  display: flex;
  justify-content: center;
}

.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#source-anchor {
  padding: 30px 0px;
}

.link-to-button {
  margin: 10px;
  padding: 10px 20px;
  width: 110px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: rgb(16, 16, 16);
  transition: 0.5s;
  border-radius: 25px;
}
.link-to-button:hover {
  background-color: rgb(56, 56, 56);
  transform: scale(1.05);
}
