.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-row-container {
  display: flex;
  justify-content: center;
}
.link-to-button {
  margin: 10px;
  padding: 10px 20px;
  width: 110px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: rgb(16, 16, 16);
  transition: 0.5s;
  border-radius: 25px;
}
.link-to-button:hover {
  background-color: rgb(56, 56, 56);
  font-weight: 600;
  width: 120px;
}
