<div
  class='box {{this.getClasses}}'
  {{on 'mousedown' this.mouseDownHandler}}
  {{on 'mouseenter' this.dragHandler}}
>
  {{#if this.isSource}}
    <p class='source no-select'>></p>
  {{else if this.isDestination}}
    <p class='source no-select'>O</p>
  {{/if}}
</div>