<div
  class='box {{this.getClasses}}'
  {{on 'click' this.clickHandler}}
  {{on 'mouseenter' this.dragHandler}}
>
  {{#if this.isSource}}
    <p class='source'>></p>
  {{else if this.isDestination}}
    D
  {{/if}}
</div>