<div class='landing-wrapper'>
  <div class='center-container'>
    <h1>Algolizer</h1>
    <p>This Project is bulit with Ember.js to visualize different Algorithms</p>
    <h3>What would you like to visualize today?</h3>
    <div class='center-row-container'>
      <LinkTo @route='pathfinding.index' class='link-to-button'>
        Path Finding
      </LinkTo>
      <LinkTo @route='sorting.index' class='link-to-button'>
        Sorting
      </LinkTo>
    </div>
  </div>

  <div class='center-container'>
    <a
      id='source-anchor'
      target='_blank'
      href='https://github.com/thebadaruddinshaikh/Algolizer'
    > Source </a>
  </div>

</div>